language: groovy
jdk:
- openjdk8
sudo: false
branches:
  only:
  - master
  - hotfix
  - develop
  - /^hotfix\/.*$/
  - /^feature\/.*$/
before_cache:
- rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
  - "$HOME/.m2"
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
after_success:
- '[ "${TRAVIS_PULL_REQUEST}" = "false" ] && travis_retry ./gradlew publish'
env:
  global:
  - secure: eQlh1E6+NKYCoLcLQMTqplFIgY6X1FNcVKGwAHc1t3wRupgPZ68oqcBV4WPIo+WJXkegejRRiuk0/sru8+JBRBT9JK4qtnjnqxUdBri+nn5WBLarP3zDBIquKLW5rEmYr2wFKUS0y+0gPA9ORQqXAQiZTzQfkC7q6IFq7kjWQS3+lm4tDASoZhXEpncUSkFXwEvB9F5WFnN+eZvBY4aB2TLtbw9u5YNdblywLl1TLAh9EScwmNsCmMYnp0CEZWXPRY7ViyDMSxjLCTzGZVotXSpZFlcYUqif/YfJhuy2vmgC/8HmWh+NeLZBT3zD0EpFeSqrq8OSVf84YYU3K1UM+Bz2pdprL3JpPF3y0nOGvSbyYTww3shaC8wuqhl22sJRx24A9ryOXEDzsG6Y4lKafReN0t6WdhOmo0vdwguE6RxCmTdN/Hobh+7evCdOfHKAbbAHJqw6vd1a3GGtpjXuEX2oHow/LiIIwo2/B0py2xc+1nhRA/vfNQRaIWyRQnFWE5IbuemWy2WcHny7II8uur43LvNH2zdpW7cn+ehweKNDeN5fnantjnuXwtxmSJOra1R5junOqmfUshciRBKIyclo/J49XYrEzjzHQTdTPDIdNxFLaUuLsgs/cs78wKQT4Kanf91h3nfRZIwtQYzD+UKVuXQeOS685SOzq40zQ/w=
  - secure: XuIOJaCAiXNUdrLC8SX00QfEy+Izms0q8OUuJ8WN2AFtGaiALk5IQa42kPfV8LjM4mpb5gqBtj0a6myYm7Qg6PY0h5FHKc3UzeItGa/5E1aX6jLcP07iLNbK1LFuok6q9OARXsxFdrT8YctkxQQ8+JUR5z/gVQy+xDIeMBI79r7WEcCq3cYxKc7Fk20x0jeCCD9raAkO1Y3SM3lUO3LQRHVb66kVbFEdpG/HcVeT3vJrritefgArpnCDNytKB0LNdhQotzNQiKX2J1lxFXgp9wixskdHTA6ZYL7GDeFFuTCfLlI1aYMegm/XFcNlL5AmPcuDAKnKnPNAcbQBVaw1f/MG87GQmww1w8QQI16cEYvy+UJzNdNWLlAJe8vO5/BIEVwzQ0Q1s3LS67yTdiFXPkGU9VZ7gMjOma7h6Ydu7Y0XaLWRM09cHAicRcXMCTNMbwkALefuN2S3uSOjue6+dyR9yWeTTsKq6neXHxj/Jg/NJ3NVUnDWAMOuv75eRB+1234eg73pj1G3xROKrLFbesDhOAWbBTw87Sd7PJ9i+VJt4XMNMEzBNuK9s4fK+7BBIdd8rlo3ljudkAI+4QcR4zthZJYdV9ybK6ry66t58bBd4IAQGbve2udV2WkWssghiwZRoOdtHWUyT5gUJy6ylx5PYex/kiKMsPWPvGxQa/w=
